# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gcc \
            pkg-config \
            libwayland-dev \
            libx11-dev \
            libx11-xcb-dev \
            libxkbcommon-x11-dev \
            libgles2-mesa-dev \
            libegl1-mesa-dev \
            libffi-dev \
            libxcursor-dev \
            libvulkan-dev

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true 

      - name: Tidy
        run: go mod tidy

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
